apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:

  # Use either of these issuers and certificates

  - tls/self-signed-certificate.yaml
  - tls/self-signed-issuer.yaml

  #- tls/letsencrypt-issuer.yaml
  #- tls/letsencrypt-cert.yaml
 
  - namespace.yaml
  - deployment.yaml  
  - service.yaml
  - secure-route.yaml
  
  - servicemonitor.yaml
  
